@charset "UTF-8";

body{
    background-image: linear-gradient(to bottom, rgb(135, 133, 133), rgb(116, 210, 116));
    background-attachment: fixed;
}

main{
    background-color: white;

    width: 513px;

    padding: 17px;

    border-radius: 23px;

    box-shadow: 7px 5px 7px black;

    margin: auto;
}


h1{
    color: chocolate;

    text-align: center;

    text-shadow: 2px 2px 2px gray;
}

h2{
    color: rgb(94, 94, 94);
}